# =========================
# Maven / Build
# =========================
target/

# =========================
# IDE files
# =========================
.classpath
.project
.settings/
.springBeans
.sts4-cache/

.idea/
*.iml

.vscode/

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# Env / secrets
# =========================
.env
